@import url('https://fonts.googleapis.com/css?family=Russo+One');


html,body,#root{
  height:100%;
  width:100%;
  margin:0;
  background:radial-gradient(#008CA8 50%,#00C9C9);
}

p{
  margin:0;
}

#drum-machine{
  background:green;
  height:400px;
  width:700px;
  position:absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 5px 5px 15px rgba(0,0,0,.3);
}

.padBank{
  width:60%;
  height:100%;
  background:#0B3954;
  margin:0;
  padding:0;
  border:none;
  display:inline-block;
}

.padWrapper{
  box-sizing: border-box;
  height:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  background:#0B3954;
  border:3px solid #0B3954;
}

.buttonBox{
  width:33%;
  height:33.33%;
  position:relative;
}


button{
  box-sizing: content-box;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  border:none;
  border-bottom:5px solid #087E8B;
  height:90%;
  width:90%;
  background:rgba(0,0,0,.7);
  color:#BFD7EA;
  outline:none;
  transition:all .15s;
  -webkit-transition:.15s;
}

button:active,button.active{
  background:skyblue;
  border:none;
  top:52%;
}

#display{
  font-family:"russo one";
  box-sizing: border-box;
  display:inline-block;
  width:40%;
  height:100%;
  background:#0B3954;
  margin:0;
  vertical-align: top;
  border:3px solid #0B3954;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.soundBank{
  height:50%;
  background:#087E8B;
  text-align: center;
  vertical-align: top;
}

.switch{
  position:relative;
  display:inline-block;
  width:60px;
  height:34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius:4px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  background:#3f6077;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

}

input:checked + .slider {
  background-color: skyblue;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.displayer{
  height:50%;
  background:#88C9C9;
  position:relative;
}

.displayer p{
  margin:0;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9px 0;
  margin-top:11%;
  background-color:rgba(128,192,238,.72);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;

  border-radius: 3.1px;
  border: 1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.9px 2.9px 6px rgba(0, 0, 0, 0.58), 0px 0px 2.9px rgba(13, 13, 13, 0.58);
  border: 2.4px solid #ddc2ff;
  height: 27px;
  width: 50px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(83, 125, 225, 0.74);
  border-radius: 3.1px;
  border: 1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.9px 2.9px 6px rgba(0, 0, 0, 0.58), 0px 0px 2.9px rgba(13, 13, 13, 0.58);
  border: 2.4px solid #ddc2ff;
  height: 27px;
  width: 50px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(61, 109, 221, 0.74);
  border: 1px solid #010101;
  border-radius: 6.2px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(83, 125, 225, 0.74);
  border: 1px solid #010101;
  border-radius: 6.2px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 2.9px 2.9px 6px rgba(0, 0, 0, 0.58), 0px 0px 2.9px rgba(13, 13, 13, 0.58);
  border: 2.4px solid #ddc2ff;
  height: 27px;
  width: 50px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(83, 125, 225, 0.74);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(105, 141, 229, 0.74);
}

.displaywrap{
  height:80%;
  width:80%;
  position:absolute;
  left:50%;
  top:50%;
  transform:translateX(-50%) translateY(-50%);
  background:radial-gradient(beige 25%,grey);
  border-radius:5px;
  text-align:center;
  line-height: 6em;
  font-size:25px;
  border:2px solid black;
  font-family:"russo one";
}

.soundWrap{
  height:50%;
}

.soundWrap p,.soundBank p{
  position:relative;
  top:5px;
}

label{
  margin-top:8%;
}
