body,html,#root{
  height:100%;
}

p{
  margin:0;
}


.App{
  height:100%;
}

#campfire{
  width:100%;
  height:100%;
  position:absolute;
  top:22.5%;
  background:url('./img/Campfire.png');
  background-size:cover;
  z-index:-1;
}
#BG1{
  width:100%;
  height:100%;
  position:absolute;
  top:20%;
  background:url('./img/BG1.png');
  background-size:cover;
  z-index:-2;
}
#BG2{
  width:100%;
  height:100%;
  position:absolute;
  top:23%;
  background:url('./img/BG2.png');
  background-size:cover;
  z-index:-3;
}

.banner{
  box-sizing: border-box;
  position:relative;
  height:25%;
  background:red;
  border-bottom:2px solid black;
}

.nav{
  position: relative;
  background-color:yellow;
  height:100%;
  width:100%;
  display:inline-block;
  float:right;
  animation:intromain 2s;
  animation-fill-mode: forwards;
  transform : none;
}

.nav:before{
  position:absolute;
  left:0px;
  box-sizing: border-box;
  content:"";
  display:block;
  background-color:yellow;
  height:100%;
  width:18vw;
  animation: intro 2s;
  animation-fill-mode: forwards;
  float:right
}

.toptxt,.bottomtxt{
  height:50%;
  width:80%;
  text-align:center;
  line-height:60px;
  float:right;
}

.toptxt h1,.toptxt h2{
  margin: 0;
}

.toptxt{
  background: red;
}

.bottomtxt{
  background:orangered;
}

.pic{
  position:absolute;
  left:0px;
  top:0px;
  height:100%;
  width:50%;
}

.bottomSup{
  height:50%;
}

.ButtonWrapper{
  display:flex;
  justify-content: space-around;
}

.ButtonW{
  height:50px;
  width:50px;
  border-radius: 50%;
  background-color:black;
}


.tbody{
  height:0%;
  animation:bodydrop 1.2s linear 2s;
  animation-fill-mode: forwards;
}

nav,ul,li{
  margin:0;
}

.navbar{
  position:absolute;
  display:flex;
  align-items: center;
  background:skyblue;
  width:100%;
  height:40px;
  transition:all .4s;
}

.navbar.sticky{
  position:fixed;
  top:0;
  height:30px;
  transition:all .4s;
}

#navbar + hr {
  margin-bottom:45px;
}

.navbar ul{
  list-style-type: none;
  display:flex;
  height:80%;
}

.navbar li{
  display:inline-block;
  border:1px solid black;
  margin-right:60px;
  height:100%;
  transition : all .4s;
}

.navbar.sticky li{
  margin-right:40px;
}

.navbar button{
  height:100%;
}

.contactwrapper{
  box-sizing: border-box;
  color:white;
  border-radius:10px;
  width:80%;
  height:500px;
  margin:20px auto;
  padding : 8px;
}

.contactwrapper ._left{
  width:50%;
  height:100%;
  float:left;
  border-right:1px solid white;
  box-sizing: border-box;
}

._leftpic{
  height:50%;
  width:100%;
}

._leftpicHolder{
  background-image:url('./img/profilepic.png');
  height:20vw;
  width:20vw;
  max-height:240px;
  max-width:240px;
  min-width:100px;
  min-height:100px;
  background-size:120% 120%;
  border-radius:100%;
  margin: 10px auto;
  background-position : 20% 20%;
}

._leftquote{
  box-sizing: border-box;
  height:50%;
  padding:12px;
}

._quote{
  font-size:30px;
  line-height:1.5em;
  margin:0;
  margin-top:15px
}

.contactwrapper ._right{
  width:50%;
  height:100%;
  vertical-align: center;
  float:right;
  border-left: 1px solid white;
  box-sizing: border-box;
  padding:20px;
}

.textBox{
  padding:10px;
  box-sizing: border-box;
  display:inline-block;
  vertical-align: center;
}


.textBox p {
  text-align : center;
  font-size: 20px;
  line-height:1.5em;
}

.textBox h3{
  text-align:center;
  font-size:30px;
  margin-top:5px;
  margin-bottom:60px;
}

.textBox #intro{
  font-weight:bold;
}

.workwrapper{
  color:white;
  width:80%;
  margin: auto;
}

.workwrapper h2{
  display:inline;
  clear:none;
}

.workwrapper ul {
  width:100%;
  background:white;
  display:flex;
  justify-content: space-around;
  transition : all .4s;
}


i.arrow{
  display:inline;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transition:transform .15s linear;
}

.arrow.down{
  transform: translate(7px,-4px) rotate(45deg);
  -webkit-transform: translateX(7px,-4px) rotate(45deg);
}

.arrow.right{
  transform: translate(5px,-1px) rotate(-45deg);
  -webkit-transform: translateX(5px,-1px) rotate(-45deg);
}

.pageWrapper{
  padding:10px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background:aqua;
}

.pageWrapper.hidden{
  display:none;
}

.workPage{
  border-radius:5%;
  height:230px;
  width:350px;
  border:1px solid black;
  position:relative;
}

.workPage.hidden{
  height:0px;
  width:0px;
  margin:0;
  display:none;
}

.workContent{
  border-radius:inherit;
  height:100%;
  width:100%;
  position:relative;
  transition:all .4s;
}

.overlay{
  width:100%;
  height:100%;
  background:aqua;
  position:absolute;
  z-index:2;
  opacity:0;
  top:0;
  left:0;
  transition:opacity .4s;
  border-radius:5%;
  text-align:center;
}

.overlay:hover{
  opacity:.85;
}

.overlay .title{
  font-weight:bold;
}

.overlay .descriptionWrapper,.overlay button{
  position:absolute;
  transition: all .4s;

}

.overlay .descriptionWrapper{
  top:-10px;
  padding:5px;
  pointer-events:none;
  width:80%;
  transform:translateX(-50%);
  left:50%;
}

.overlay button{
  bottom:-3px;
  transform:translateX(-50%);
  -webkit-transform:translateX(-50%);
}

.overlay:hover button{
  bottom:25px;
}

.overlay:hover .descriptionWrapper{
  top:15px;
}

.workContent:hover:before{
  background:red;
}

.skillTitle{
  flex:1;
  text-align:center;
  display:table;
  position:relative;
  height:200px;
  left:0px;
  transition:opacity .2s, left .3s;
}

.skillTitle h3{
  height:30px;
}

.skillTitle.hidden{
  opacity:0;
  pointer-events:none;
  left:-200px;
}

.skillTitle:nth-child(1),.skillTitle:nth-child(2){
  border-right:2px solid black;
}

.tagBubble{
  position:relative;
  left:0px;
  font-weight:bold;
  min-width:94px;
  width:30%;
  height:20px;
  line-height:1.3em;
  border:1px solid black;
  background:#008f11;
  margin:auto;
  margin-top:5px;
  border-radius:15px;
  transition: opacity .15s,left .3s;
}

.tagBubble.hidden{
  opacity:0;
  left:-50px;
}

.contactWrapper{
  width:80%;
  margin:0 auto;
}

.wrap{
  position:relative;
  margin-top:40px;
}

.wrap label{
  position:absolute;
  top:0;
  left:10px;
  transition:all .2s;
  font-size:20px;
  line-height: 1.4em;
  color:#666564;
}

.wrap input{
  box-sizing: border-box;
  width:95%;
  border:none;
  border-bottom:1px solid black;
  background:none;
  outline:none;
  transition:all .2s;
  height:30px;
}

.wrap input:focus{
  border-bottom:2px solid black;
}

.wrap label.fill{
  top:-30px;
  left:0;
  font-size:15px;
  line-height:2em;
}

@keyframes bodydrop{
  0%{
    height:0%;
  }
  5%{
    height:3.5%;
  }
  17.5%{
    height:10%;
  }
  25%{
    height:20%;
  }
  37.5%{
    height:40%;
  }
  45%{
    height:65%;
  }
  50%{
    height:75%;
  }
  70%{
    height:50%;
  }
  75%{
    height:45%;
  }
  80%{
    height:43%;
  }
  87.5%{
    height:45%;
  }
  90%{
    height:48%;
  }
  95%{
    height:55%;
  }
  97.5%{
    height:63%
  }
  100%{
    height:75%;
  }
}

@keyframes intro {
  30%{
    left: 0px;
  }
  60%{
    left:-55px;
  }
  70%{
    transform: skew(0deg);
    left: -55px;
  }

  100%{
    transform: skew(-20deg);
    left: -55px;
  }
}

@keyframes intromain {
  30%{
    width: 100%;
  }
  60%{
    width: 60%;
  }
  70%{
    width: 60%;

  }
  90%{
    width: 60%;

  }
  100%{
    width: 60%;

  }
}

@media (max-width:750px){

  .banner{
    height:25%;
  }

  .tbody{
    height:80%;
  }

  .nav:before{
    width:54px;
    animation: none;
    left:-30px;
    transform:skew(-10deg);
  }

  .toptxt,.bottomtxt{
    float:right;
    height:50%;
    width:80%;
    clear:both;
  }

  .toptxt{
    text-align:right;
    line-height:30px;
    max-width:200px;
  }

  .toptxt h1,.toptxt h2{
    margin-right:15px;
    font-size:25px;
  }

  .ButtonWrapper{
    width:100%;
    margin:auto;
  }
  .ButtonW{
    height:40px;
    width:40px;
  }

  .pic,.nav{
    height:100%;
  }
}
